@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif !important;
}
#root,
body,
html {
  height: 100%;
  min-height: 100%;
  position: relative;
}
p {
  font-size: 14px;
}
h6 {
  font-size: 14px !important;
}
a {
  text-decoration-line: none !important ;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.SplashContainer {
  background-color: white;
}
.GloversLogo {
  display: block;
  margin: auto;
}
.SplashLogo {
  display: block;
  margin: auto;
  height: 80px;
  margin-top: 50px;
}
.Without-Hover-Container {
  font-size: 1vw;
  color: black;
}

.With-Hover-Container {
  font-size: 1vw;
  color: black;
  text-decoration-line: underline;
  text-decoration-thickness: from-font;
}
.search-container {
  background-color: #f8f9fa;
  display: flex;
  align-items: center;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
  margin-block: auto;
  width: 40vh;
}
@media (max-width: 425px) {
  .search-container {
    background-color: #f8f9fa;
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    margin-block: auto;
    width: 30vh;
  }
}
.tabClicked {
  font-weight: bold !important;
  background: linear-gradient(
    to right bottom,
    rgb(240, 248, 255),
    rgb(230, 230, 250)
  ) !important;
  border-radius: 5px !important;
  width: 100%;
}
.form-control:focus {
  box-shadow: none !important;
}
.list_container {
  display: flex;
  flex-wrap: inherit;
  align-items: flex-start !important;
  justify-content: flex-start !important;
  width: 100%;
}
.active-text-color {
  border-bottom-color: #005dab;
  border-bottom-style: solid;
}
.active-tab {
  background-color: #005dab !important;
}
.active-text-tab {
  color: white !important;
  font-size: 12px !important;
}
.deActive-text-tab {
  color: blueviolet !important;
  font-size: 12px !important;
}
.settings_th {
  font-size: 14px !important;
  padding-left: 25px;
  border-block-width: none !important;
}
.dropdown-menu {
  --bs-dropdown-bg: #f7f5ff !important;
  --bs-dropdown-link-active-bg: #005dab !important;
  border-radius: 3px !important;
}
.dropdown-toggle::after {
  display: none !important;
}
.dropdown_icon {
  width: 15px;
  margin-top: 3px;
  height: 17px;
}
.tooltip {
  background-color: white !important;
  color: black !important;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.064);
}
.modal-contents {
  align-items: center !important;
  display: flex;
  flex-direction: column;
}
.date-text {
  display: flex !important;
  justify-content: center;
}
.input-style :focus-visible {
  outline-color: lightgrey !important;
}
.input-style {
  border-color: #005dab !important;
}
.btn-primarys {
  background-color: #005dab !important;
  border-color: #005dab !important;
  font-size: 14px !important;
  color: white !important;
}
.btn-primary-disabled {
  background-color: #005dab90 !important;
  border: none !important;
  font-size: 14px !important;
  color: white !important;
}
.btn-close {
  --bs-btn-close-focus-shadow: none !important;
}
.text_primary {
  color: blue !important;
  font-weight: bold !important;
}
.text_secondary {
  color: black !important;
}
.text_red_color {
  color: red !important;
  font-weight: bold !important;
}
.card_style1 {
  background: linear-gradient(
    to right bottom,
    rgb(14, 209, 166),
    rgb(44, 116, 0)
  );
}
.card_style2 {
  background: linear-gradient(
    to right bottom,
    rgb(242, 129, 175),
    rgb(167, 46, 110)
  );
}
.card_style3 {
  background: linear-gradient(
    to right bottom,
    rgb(255, 184, 96),
    rgb(197, 109, 0)
  );
}
.card_style4 {
  background: linear-gradient(
    to right bottom,
    rgb(180, 129, 255),
    rgb(92, 6, 218)
  );
}

.loader {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  animation: loader-rotate 1s infinite cubic-bezier(0.62, 0.49, 0.52, 0.32);
  transform: skew(20deg, 20deg);
  transform-origin: center;
}
.main-div {
  width: auto;
}
.loader-icon1 {
  border-bottom: 2px solid #005dab;
  rotate: 4deg;
}
.loader-icon2 {
  border-bottom: 2px solid #005dab;
  rotate: 129deg;
}
.loader-icon3 {
  border-bottom: 2px solid #005dab;
  rotate: 272deg;
}
.text {
  color: black;
  position: relative;
  top: 37px;
  left: 22px;
}
.active > .page-link,
.page-link.active {
  z-index: 3;
  color: var(--bs-pagination-active-color);
  background-color: #005dab !important;
  border-color: #005dab !important;
  cursor: pointer !important;
}
.page-link {
  font-size: 13px !important;
}
.table-row-active {
  background-color: #e6e6fa !important;
  padding-bottom: 0.6rem !important;
  padding-top: 0.6rem !important;
}
.table-row-deactive {
  background-color: #f7f5ff !important;
  padding-bottom: 0.6rem !important;
  padding-top: 0.6rem !important;
}
.user-filter {
  background-color: #efefef !important;
  font-size: 14px !important;
  padding-left: 5px !important;
  padding-right: 5px !important;
  margin: 5px;
  cursor: pointer;
}
.dropdown-menu {
  background-color: white !important;
  position: absolute;
  inset: 0px auto auto 0px;
  margin: 0px;
  transform: translate(16px, 37px);
  width: max-content;
  min-width: auto !important;
}
.custom-popover {
  --bs-popover-max-width: 200px;
  --bs-popover-border-color: var(--bd-violet-bg);
  --bs-popover-header-bg: var(--bd-violet-bg);
  --bs-popover-header-color: var(--bs-white);
  --bs-popover-body-padding-x: 1rem;
  --bs-popover-body-padding-y: 0.5rem;
}
.table_list {
  padding-bottom: 0.8rem !important;
  padding-top: 0.8rem !important;
}
@keyframes loader-rotate {
  0% {
    transform: skew(20deg, 20deg) rotate(0deg);
  }
  100% {
    transform: skew(20deg, 20deg) rotate(360deg);
  }
}
